<div class="container">
    <div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <p class="text-title">Bienvenida a la</p><h1 class="text-primary">Clínica On-Line</h1>
        <p>Somos una clínica especializada en salud.</p>
    
        <div class="btn-group" role="group">
        <a routerLink="/login" class="btn btn-primary btn-lg">Ingresar</a>
        <a routerLink="/registro" class="btn btn-outline-info text-dark btn-lg">Registrar</a>
        </div>
    </div>
    </div>
</div>
<img class="img-1" src="../../../assets/medical_result.png">
<img class="img-2" src="../../../assets/microscope_medical.png">
