:host{
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    margin: 5px;
    width: 150px;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.activo {
    background-color: #3485c3;
    color: #fff;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.opciones {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 50vh;
    max-width: 80vw;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid grey;
    overflow-y: auto;
}
.mensaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: whitesmoke;
    border-radius: 25px;
    border: 1px solid black;
  }
  
  .mensaje p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .mensaje button {
    width: 60%;
    margin: 10px;
    border-radius: 10px;
    background-color: #3485c3;
    color: #fff;
  }
  
  .mensaje button:hover{
    background-color: #2f75aa;
  }

  .pantalla-completa{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #3485c3, $alpha: 0.2);
  }

  .opciones button img{
     width: 70px;
     height: 70px;
  }

  .opciones-imagen{
    width: 200px;
    height: 110px;
  }

  .opciones-imagen p{
    font-size: 14px;
    margin: 0px;
    text-transform: capitalize;
  }