<h3>Solicitar Turnos</h3>
<div class="titulo">
    <h4>Especialidades</h4>
    <div class="opciones">
        <button class="opciones-imagen" *ngFor="let item of especialidades | async" 
            (click)="seleccionarEspecialidad(item.nombre)" 
            [ngClass]="{activo: especialidadSeleccionada == item.nombre}"
            >
            <img [src]="item.foto ?  item.foto : imagenDefault">
            <p *ngIf="!item.foto">{{item.nombre}}</p>
        </button>
    </div>
</div>
<div class="titulo" *ngIf="especialidadSeleccionada">
    <h4>Especialialistas</h4>
    <div class="opciones">
        <button class="opciones-imagen" *ngFor="let item of especialistas" 
            (click)="seleccionarEspecialista(item)" 
            [ngClass]="{activo: especialistaSeleccionado?.id === item.id}"
            >
            <p>{{item | nombreCompleto}}</p> 
            <img [src]="item.imagen1">
        </button>
    </div>
</div>
<div class="titulo" *ngIf="especialistaSeleccionado">
    <h4>Dias Disponibles</h4>
    <div class="opciones">
        <button *ngFor="let item of diasDisponibles" 
        (click)="seleccionarDia(item)" 
        [ngClass]="{activo: diaSeleccionado === item}"
        >
        {{item| date: 'd/M HH:mm' : "-0300"}}
        </button>
    </div>
</div>
<button (click)="sacarTurno()" [disabled]="!(diaSeleccionado && especialidadSeleccionada && especialistaSeleccionado)">Sacar Turno</button>
<div *ngIf="mensaje" class="pantalla-completa">
    <div class="mensaje">
        <p>{{mensaje}}</p>
        <button (click)="finalizarRegistro()">Ok</button>
    </div>
</div>

