.login-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin: 10px 10px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 10px 15px 15px;
  }

  .button-group{
    width: 212px;
    margin-top: 5px;
    display: flex;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
  }
  
  input {
    display: block;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 280px;
  }
  
  button {
    width: 100%;
    margin: 2px 0px;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .register-button {
    background-color: #3485c3;
    color: #fff;
  }

  .register-button:hover{
    background-color: #2f75aa;
  }

  .register-button:disabled{
    background-color: rgba($color: #3485c3, $alpha: 0.7);
    cursor: not-allowed;
  }

  input.ng-invalid.ng-touched {
    border: red 1px solid;
}

small{
  text-decoration: underline;
  color: red;
  display: block;
  width: 212px;
}

.activo {
  background-color: #3485c3;
  color: #fff;
}

.opciones-usuario{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.opcion{
  margin: 5px;
  width: 300px;
}

.datos{
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.opciones-especialidad{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 0px;
}

.opciones-especialidad button{
  width: 155px;
  margin: 5px 5px 0px 0px;
  font-size: 14px;
}

.pantalla-completa{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #3485c3, $alpha: 0.2);
}

.mensaje{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: whitesmoke;
  border-radius: 25px;
  border: 1px solid black;
}

.mensaje p{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.mensaje button {
  width: 60%;
  margin: 10px;
  border-radius: 10px;
  background-color: #3485c3;
  color: #fff;
}

.mensaje button:hover{
  background-color: #2f75aa;
}

.carta-animacion-contenedor{
  position: relative;
  top: 0%;
  padding: 0;
  margin: 0rem 2rem 2rem 0rem;
  height: 88vh;
  width: 90vw;
}

.carta-animacion{
  position: relative;
  top: 0%;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.rotar{
  transform: rotateY(180deg);
}

.carta-animacion-dorso{
  position: absolute;
  top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  border: none;
  border-radius: 100px;
  
}

.carta-animacion-frente{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);

}

.carta-animacion-dorso button{
  width: 250px;
  // min-width: 500px;
  height: 250px;
  
  border: 2px solid whitesmoke;
  background-color: #3485c3;
  color: #fff;
  font-size: 28px;
  font-weight: bolder;

  // border: none;
  border-radius: 100px;
}

.carta-animacion-dorso button:hover{
  background-color: #2f75aa;
}

.carta-animacion-dorso button img{
  height: 80%;
  width: 80%;
  border-radius: 100%;
}

.carta-animacion-dorso button p{
  margin: 0px;
}

.zoom, .zomm .login-form{
  animation: fadeInAnimation 1.0s ease forwards, sizeChangeAnimation 2s ease forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sizeChangeAnimation {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}