<div class="contendor-info">
    <h3>Historial Turnos</h3>
    <div class="titulo">
        <h4>Filtrar Datos</h4>
        <div class="opciones">
            <input placeholder="Ingrese datos..." type="text" [(ngModel)]="filtro" (input)="filtrarTurnos()">
        </div>
    </div>
    <div class="titulo">
        <div>
            <h4>Turnos</h4>
            <div class="datos head">
                <p *ngIf="tipoUser != 'paciente'">paciente</p>
                <p *ngIf="tipoUser != 'paciente'">dni</p>
                <p *ngIf="tipoUser != 'especialista'">especialista</p>
                <p>tipo</p>
                <p>fecha</p>
                <p >estado</p>
            </div>
            <div class="datos" *ngFor="let turno of turnos">
                <p *ngIf="tipoUser != 'paciente'">{{turno.nombrePaciente}}</p>
                <p *ngIf="tipoUser != 'paciente'">{{turno.dniPaciente | dniFormato}}</p>
                <p *ngIf="tipoUser != 'especialista'">{{turno.nombreEspecialista}}</p>
                <p>{{turno.tipo}}</p>
                <p>{{turno.fecha | date: 'd/MM HH:mm' : "-0300"}}</p>
                <!-- <p class="estado" [colorEstado]="turno.estado"> -->
                <p class="estado" >
                    {{turno.estado | estadoTurno}}
                </p>
                <div class="botones-estado">
                    <button class="cambiar-estado" *ngIf="turno.estado == estados.pendiente || (tipoUser == 'paciente' && turno.estado == estados.aceptado)" (click)="cancelarTurno(turno)">Cancelar</button>
                    <button class="cambiar-estado" *ngIf="turno.estado == estados.pendiente && tipoUser == 'especialista'" (click)="rechazarTurno(turno)">Rechazar</button>
                    <button class="cambiar-estado" *ngIf="turno.estado == estados.pendiente && tipoUser == 'especialista'" (click)="aceptarTurno(turno)">Aceptar</button>
                    <button class="cambiar-estado" *ngIf="turno.estado == estados.aceptado && tipoUser == 'especialista'" (click)="finalizarTurno(turno)">Finalizar</button>
                    <button class="cambiar-estado" *ngIf="turno.resenia && tipoUser != 'admin'" (click)="verResenia(turno)">Reseña</button>
                    <button class="cambiar-estado" *ngIf="turno.calificacion&& tipoUser != 'admin'" (click)="verCalificacion(turno)">Calificacion</button>
                    <button class="cambiar-estado" *ngIf="turno.encuesta && tipoUser != 'admin'" (click)="verEncuesta(turno)">Encuesta</button>
                    <button class="cambiar-estado" *ngIf="turno.estado == estados.realizado" (click)="verHistoria(turno)">Historia</button>
                    <button class="cambiar-estado" *ngIf="turno.estado == estados.realizado && tipoUser == 'paciente' && !turno.calificacion" (click)="calificarAtencion(turno)">Calificar Atencion</button>
                    <button class="cambiar-estado" *ngIf="turno.estado == estados.realizado && tipoUser == 'paciente' && !turno.encuesta" (click)="completarEncuesta(turno)">Completar Encuesta</button>
                    <button class="cambiar-estado" *ngIf="turno.estado > 1 && turno.estado < 5 || turno.estado == estados.rechazado" (click)="verCancelacion(turno)">Ver Motivo</button>
                    <p class="cancelado" *ngIf="turno.estado > 1 && turno.estado < 5">
                        Turno Cancelado Por
                        {{turno.estado == estados.canceladoPaciente ? "Paciente" : turno.estado == estados.canceladoEspecialista ? "Especialita" : "Administracion"}}
                    </p>
                    <p class="cancelado" *ngIf="turno.estado == estados.rechazado">
                        Turno Rechazado Por Especialista
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="mensaje" class="pantalla-completa">
    <div class="mensaje" *ngIf="tipoMensaje || encuesta != undefined">
        <p>{{mensaje}}</p>
        <textarea class="respuesta" type="text" [(ngModel)]="respuestaUsuario" placeholder="Mensaje..."></textarea>
        <button (click)="finalizarMensaje()">Ok</button>
        <button (click)="cancelarMensaje()">Cancelar</button>
    </div>
    <div class="mensaje" *ngIf="!tipoMensaje && encuesta == undefined">
        <p>{{mensaje}}</p>
        <button (click)="cancelarMensaje()">Ok</button>
    </div>
</div>
<div *ngIf="generandoHistoriaClinica" class="pantalla-completa">
    <app-generar-historia-clinica *ngIf="generandoHistoriaClinica" [turno]="turnoSeleccionado" (finalizado)="agregarHistoriaClinica($event)"></app-generar-historia-clinica>
</div>
<div *ngIf="historiaClinica" class="pantalla-completa">
    <div class="historia">
        <p><strong>Altura: </strong>{{historiaClinica.altura}}</p>
        <p><strong>Peso: </strong>{{historiaClinica.peso}}</p>
        <p><strong>Temperatura: </strong>{{historiaClinica.temperatura}}°C</p>
        <p><strong>Presión: </strong>{{historiaClinica.presionMax}} / {{historiaClinica.presionMin}}</p>
        <p *ngIf="historiaClinica.dato1?.clave != '' && historiaClinica.dato1?.valor != ''">
            <strong>{{historiaClinica.dato1?.clave}}: </strong>{{historiaClinica.dato1?.valor}}
        </p>
        <p *ngIf="historiaClinica.dato2?.clave != '' && historiaClinica.dato2?.valor != ''">
            <strong>{{historiaClinica.dato2?.clave}}: </strong>{{historiaClinica.dato2?.valor}}
        </p>
        <p *ngIf="historiaClinica.dato3?.clave != '' && historiaClinica.dato3?.valor != ''">
            <strong>{{historiaClinica.dato3?.clave}}: </strong>{{historiaClinica.dato3?.valor}}
        </p>
        <button (click)="cancelarMensaje()">Ok</button>
    </div>
</div>